<a href="https://colab.research.google.com/github/wbnselvi/EDA-Assay/blob/main/EDA-Assay.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exploratory Data Analysis (EDA) Pada Data Assay Nikel Laterite

Setelah data cleaning, kita melakukan Exploratory Data Analysis pada data Assay.
Dari EDA kita bisa melihat kecenderungan data sekaligus juga melihat kesesuaian interpretasi layer geologi yang dilakukan geologis pada tahap Evaluation dengan model umum profil laterit.
Contoh hal yang harus diperhatikan :
* Domaining Fe, pada layer limonite tidak boleh lebih dari satu domain, ditunjukkan oleh histogram yang positively skewed.
* Cluster MgO pada bedrock cenderung tinggi, sedangkan di limonite akan rendah, dengan sedikit outlier (kategori MgO, Fe, Ni biasanya ditentukan oleh Principal Geologist untuk area tertentu, pada data ini MgO > 25 = tinggi (penciri area bedrock)).
* Cluster Fe pada limonite cenderung paling tinggi, dan sebaliknya di bedrock, gunakan scatter plot Fe6 vs MgO6 Limonite.
* Jika outlier lebih besar dari 5% kembalikan data Assay pada Geologis Evaluasi untuk diinterpretasi dan di kros cek dengan foto core atau direassay. 
* Sebaran Ni limonite berbentuk normal distribution
* Gunakan scatter plot Fe vs Cr di Saprolite untuk melihat korelasi positif keduanya.
* Dst yang dianggap perlu.
 
 ## Selvi Yuminti
 Version 1.0
 Agustus 2022

### Import Modules

In [49]:
import pandas as pd # Modul yang dipakai untuk mengolah dan analisis data

In [55]:
import matplotlib.pyplot as plt # visualisasi data
import seaborn as sns # visualisasi data

# output dari visualisasi data akan diarahkan ke notebook
%matplotlib inline

#### Load dataset

In [50]:
from google.colab import drive
assay_df = pd.read_excel('/content/sample_data/assay.xlsx') # memuat file excel atau csv sebagai data frame
assay_df.head() # tampilkan 5 baris pertama

,Sub pit,DH ID,Deposit,DPO ID,DepthFrom,DepthTo,LENGTH,Sample Rec_Pct,Major,Minor,...,Lithology,Ore,Ore_limit,Remark,Batas_Interp,XA,YA,ZA,Depth (Log),Contractor
0,BN,BN0513,BN,BN0064,0.0,1.0,1.0,100.0,LIM,NaN,...,NaN,NaN,NaN,NaN,NaN,393500.0,81600.0,NaN,13.0,BPMS
1,BN,BN0513,BN,BN0064,1.0,2.0,1.3,100.0,LIM,NaN,...,NaN,NaN,NaN,NaN,NaN,393500.0,81600.0,NaN,13.0,BPMS
2,BN,BN0513,BN,BN0064,2.0,3.0,0.7,100.0,FSAP,NaN,...,NaN,NaN,NaN,NaN,NaN,393500.0,81600.0,NaN,13.0,BPMS
3,BN,BN0513,BN,BN0064,3.0,4.0,1.0,90.0,RSAP,CST,...,NaN,NaN,NaN,NaN,NaN,393500.0,81600.0,NaN,13.0,BPMS
4,BN,BN0513,BN,BN0064,4.0,5.0,1.0,80.0,RSAP,CST,...,NaN,NaN,NaN,NaN,NaN,393500.0,81600.0,NaN,13.0,BPMS

#### Buang kolom yang tidak diperlukan

In [51]:
assay_df.drop(["Sub pit","Deposit", "Minor", "Minor_Pct", "Rig ID","Geologist","StartDrilling","FinishDrilling", "Dry_dens","K2O","Na2O","TiO2","Mg_inform","Ni_Co","Lithology","Ore","Ore_limit","Remark","Batas_Interp","Depth (Log)","XA","YA","ZA","Contractor"], axis = 1, inplace = True)

#### Identify the shape of the dataset

In [76]:
assay_df.shape # bentuk/dimensi dataset (baris,kolom)

(4807, 27)

#### Get the list of columns

In [53]:
assay_df.columns # daftar nama kolom

Index(['DH ID', 'DPO ID', 'DepthFrom', 'DepthTo', 'LENGTH', 'Sample Rec_Pct',
       'Major', 'Rock %', 'Sample_id', 'QC', 'Ni', 'Co', 'Al2O3', 'CaO',
       'Cr2O3', 'Fe2O3', 'TFe', 'MgO', 'BCMgO', 'MnO', 'P2O5', 'SiO2',
       'SiO2/MgO', 'LOI', 'MC', 'MC_S', 'Alt_index'],
      dtype='object')

#### Describe the dataset

In [54]:
assay_df.describe() # deskripsi data

,DepthFrom,DepthTo,LENGTH,Sample Rec_Pct,Rock %,Ni,Co,Al2O3,CaO,Cr2O3,...,MgO,BCMgO,MnO,P2O5,SiO2,SiO2/MgO,LOI,MC,MC_S,Alt_index
count,4725.00000,4725.000000,4740.000000,1581.000000,1971.000000,4800.000000,4800.000000,4800.000000,4800.000000,4800.000000,...,4800.000000,4797.000000,4800.000000,4800.000000,4800.000000,4797.000000,4800.000000,4800.000000,4800.000000,4800.000000
mean,12.49367,13.489807,1.055479,95.207691,71.497463,0.807644,0.047059,3.347232,0.307105,1.368966,...,21.383248,22.259425,0.366468,0.014522,38.924622,6.563669,11.564348,26.133825,0.261338,2.134417
std,9.35294,9.356663,2.307985,11.851609,32.646619,0.544707,0.075558,4.951628,1.071067,1.506964,...,14.062890,61.582144,0.575353,0.044688,13.523412,12.938905,2.185957,13.077820,0.130778,1.874820
min,0.00000,0.500000,0.000000,15.000000,2.000000,0.000000,0.000890,0.100650,0.008500,0.000000,...,0.247500,0.247500,0.010200,0.000680,2.701177,0.009750,2.170000,0.097971,0.000980,0.003191
25%,5.00000,6.000000,1.000000,100.000000,40.000000,0.340000,0.009800,0.435600,0.019600,0.434250,...,4.570000,4.588100,0.107800,0.003201,37.089750,1.204215,10.660533,15.090089,0.150901,0.117074
50%,11.00000,12.000000,1.000000,100.000000,85.000000,0.699000,0.010200,0.825552,0.049000,0.690000,...,26.462700,26.510250,0.159400,0.004737,40.973300,1.704796,11.900000,26.946994,0.269470,2.004579
75%,18.00000,19.000000,1.000000,100.000000,100.000000,1.130000,0.058800,4.218234,0.130000,1.833650,...,34.182837,34.184700,0.339500,0.008703,45.628800,5.032548,12.918485,36.866085,0.368661,3.727116
max,56.00000,57.000000,85.000000,100.000000,354.000000,3.308000,1.225700,30.596001,10.781400,13.460000,...,43.978200,4174.000000,11.474200,0.702474,81.417600,179.812500,39.601386,63.289185,0.632892,9.347089

#### Scatter Plot

In [59]:
df1=assay_df[assay_df['Major']=='LIM']
df2=assay_df[assay_df['Major']=='RSAP']
df3=assay_df[assay_df['Major']=='FSAP']
df4=assay_df[assay_df['Major']=='BRK']
df5=assay_df[assay_df['QC']=='BLANK']

In [ ]:
df1.describe()

#### Scatter Plot untuk Limonite
##### Range normal Ni untuk area Limonite, Rocky Saprolite, Fine Saprolite, Bedrock, dan Blank
|Layer     |      AI    |    Ni     |   Al2O3  |   Fe2O3   |   MgO   |   SiO2   |
|----------|------------|-----------|----------|-----------|---------|----------|
|LIM       | 0.01 - 1   | 0.3 - 1.6 | 2 - 17   | 50 - 75   | 0.5 - 5 | 2 - 20   |
|RSAP      | 1.5 - 4.5  | 1 - 2.5   | 0.9 - 3  | 8 - 19    | 30 - 40 | 35 - 75  |
|FSAP      | 0.01 - 1.4 | 0.5 - 2.5 | 1 - 3    | 20 - 49   | 6 - 29  | 21 - 50  |
|BRK       | 2 - 6      | 0.1 - 1   | 0.2 - 0.9| 3 - 12    | 41 - 45 | 36 - 82  |
|BLANK     | 0.1 - 0.3  | 0.01-0.15 | 12 - 18  | 8 - 13    | 3 - 7   | 44 - 68  |

In [ ]:
sns.scatterplot(x='Alt_index', y='Ni', color='blue', data=df1, label = 'LIM')

In [ ]:
sns.scatterplot(x='Alt_index', y='Al2O3', color='blue', data=df1, label = 'LIM')

In [ ]:
sns.scatterplot(x='Alt_index', y='Fe2O3', color='blue', data=df1, label = 'LIM')

In [ ]:
sns.scatterplot(x='Alt_index', y='MgO', color='blue', data=df1, label = 'LIM')

In [ ]:
sns.scatterplot(x='Alt_index', y='SiO2', color='blue', data=df1, label = 'LIM')

Cek ulang sample dengan Ni > 1.5 dan Fe < 25, perhatikan fotocore dan posisi from to nya

In [ ]:
sns.scatterplot(x='Alt_index', y='Ni', color = 'orange', data=df2,label = 'RSAP')

In [ ]:
sns.scatterplot(x='Alt_index', y='Al2O3', color = 'orange', data=df2,label = 'RSAP')

In [ ]:
sns.scatterplot(x='Alt_index', y='Fe2O3', color = 'orange', data=df2,label = 'RSAP')

In [ ]:
sns.scatterplot(x='Alt_index', y='MgO', color = 'orange', data=df2,label = 'RSAP')

In [ ]:
sns.scatterplot(x='Alt_index', y='SiO2', color = 'orange', data=df2,label = 'RSAP')

Cek ulang sample dengan Ni<0.5 dan Fe < 10 (mungkin brk, cek MgO dan Co nya)

In [ ]:
sns.scatterplot(x='Alt_index', y='Ni', color = 'green', data=df3,label ='FSAP')

In [ ]:
sns.scatterplot(x='Alt_index', y='Al2O3', color = 'green', data=df3,label ='FSAP')

In [ ]:
sns.scatterplot(x='Alt_index', y='Fe2O3', color = 'green', data=df3,label ='FSAP')

In [ ]:
sns.scatterplot(x='Alt_index', y='MgO', color = 'green', data=df3,label ='FSAP')

In [ ]:
sns.scatterplot(x='Alt_index', y='SiO2', color = 'green', data=df3,label ='FSAP')

In [ ]:
sns.scatterplot(x='Alt_index', y='Ni', color = 'violet', data=df4,label ='BRK')

In [ ]:
sns.scatterplot(x='Alt_index', y='Al2O3', color = 'violet', data=df4,label ='BRK')

In [ ]:
sns.scatterplot(x='Alt_index', y='Fe2O3', color = 'violet', data=df4,label ='BRK')

In [ ]:
sns.scatterplot(x='Alt_index', y='MgO', color = 'violet', data=df4,label ='BRK')

In [ ]:
sns.scatterplot(x='Alt_index', y='SiO2', color = 'violet', data=df4,label ='BRK')

In [ ]:
sns.scatterplot(x='Alt_index', y='Ni', color = 'yellow', data=df5,label ='BLANK')

In [ ]:
sns.scatterplot(x='Alt_index', y='Al2O3', color = 'yellow', data=df5,label ='BLANK')

In [ ]:
sns.scatterplot(x='Alt_index', y='Fe2O3', color = 'yellow', data=df5,label ='BLANK')

In [ ]:
sns.scatterplot(x='Alt_index', y='MgO', color = 'yellow', data=df5,label ='BLANK')

In [ ]:
sns.scatterplot(x='Alt_index', y='SiO2', color = 'yellow', data=df5,label ='BLANK')

Cek Outliers

In [ ]:
sns.scatterplot(x='NI', y='MGO', color = 'orange', data=df2,label = 'SAP')

Cek Low Ni with high MgO

In [ ]:
sns.scatterplot(x='NI', y='MGO', color = 'green', data=df3,label ='BRK')

Cek Ni > 1 dan MgO < 25

In [ ]:
sns.scatterplot(x='NI', y='MGO', data=assay_df, hue='LYR')

#### Kesimpulan
Pada dasarnya interpretasi profil geologi sudah bisa diterima, dengan catatan beberapa outlier dicek ulang. Proses EDA sudah selesai, berikutnya adalah pemodelan geologi menggunakan metode geostatistik kriging (dan Nearest Neighbour sebagai pembanding). Di bawah ini merupakan estimasi tanpa spatial(collar/koordinat) menggunakan K-Nearest Neighbour hanya untuk pembelajaran/eksperimen machine learning perilaku pada dataset assay Nikel laterite.